<?xml version="1.0" ?>
<model>
    <name>ackerDrive</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Swapnil Kalhapure</name>
        <email>kalhapure.swapnil@gmail.com</email>
    </author>
    <description>ackerman Drive Robot with steering joint in the center of the robot body</description>
</model>
