<?xml version="1.0" encoding="UTF-8"?>
<launch>

   <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
<remap from="scan" to="/scan"/>
<remap from="odom" to="my_robot/odom"/>
<remap from="cmd_vel" to="my_robot/cmd_vel"/>
  <param name="base_global_planner" value="navfn/NavfnROS" />
  <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
<rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
  <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
  <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
  <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
  <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
